@using System.Web.Mvc
@using System.Web.Mvc.Html
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @*@Html.ActionLink("Hello " + User.Identity.Name + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                @Html.ActionLink(String.Format("Hello, {0}", HttpContext.Current.User.Identity.Name.Split(new[] { '@' })[0]), "Index", "Home")
            </li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
            @Html.ActionLink("LogOut", "LogOff", "Account")
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
